# misc
.DS_Store

backend/drupal/web
backend/drupal/sites/
backend/drupal/vendor
backend/drupal/composer.lock
backend/drupal/.editorconfig
backend/drupal/.gitattributes
frontend/react/ccnavigator/src/config/Config.js
