input {
  font-family: "Maax", sans-serif;
  background-color: $color-background;
  border: none;
  border-bottom: 2px solid $color-background;
  margin-bottom: 0.5rem;
  padding: 0.8em 0.8em 0.6em;
  transition: all 200ms ease;

  :focus {
    border-bottom-color: $color-background;
  }
}

button {
  background-color: $color-turquoise;
  color: #FFF;
  padding: 0.8em 0.8em 0.6em;
  border: none;
  text-transform: uppercase;
}

.form-login {
  display: flex;
  flex-direction: column;
  max-width: 14rem;
  margin-top: 2rem;
}
