

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  @media (orientation: landscape) {
    flex-direction: column;
  }
  @media (orientation: portrait) {
    flex-direction: row;
  }
}

#site-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;

  @media (orientation: landscape) {
    font-size: 1.4em;
  }
}

#site-subtitle {
  font-size: 0.9em;
  margin-bottom: 0;
  line-height: 1.35em;
  font-weight: 300;
}


#site-navigation {

  li {
    

    a {
      position: relative;
      display: block;
      text-decoration: none;
    }

    &:hover a,
    &.current a {
      color: $color-turquoise;
    }

    &.current a:after {
      content: "";
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @media (orientation: landscape) {
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid #CCC;

    li {
      margin-top: 1rem;
    }
  }

  @media (orientation: portrait) {
    margin-top: 1rem;

    #nav-toggle {
      padding-bottom: 0.5rem;
      cursor: pointer;
      user-select: none;
    }

    ul {
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 100;
      max-height: 0;
      overflow: hidden;
      transition: all 200ms ease;
      background-color: #FFF;
      box-shadow: 0 10px 0.75rem 0 rgba(0,0,0,0.1);
    }

    &.nav-toggled ul {
      max-height: 400px;
    }

    li {
      margin: 0.5rem;
    }

    a {
      padding: 0.5rem;
    }
  }

}



