
// APP
#container-app {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}
#container-map {
  flex-grow: 1;
  overflow: hidden;
  touch-action: none;
}

#container-page {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.panel {
  position: relative;
  z-index: 100;
  flex-grow: 0;
  background-color: white;
  //overflow: hidden;
  box-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.1);

  .panel-content {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}
#panel-header {
  flex-shrink: 0;
}
#panel-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#panel-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
}


.wrapper {
  max-width: 960px;
  padding: 1rem;

  @media (min-width: 600px) {
    padding: 2rem;
  }
}

.pane {
  background-color: #fff;
  box-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.05);

  .pane-text {
    padding: 1rem;
  }
}

a.pane {
  display: block;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.2);

    h2 {
      text-decoration: underline;
    }
  }
}


.pane-header {
  position: relative;
  text-align: center;
  color: #fff;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,0.7);
  }

  > * {
    position: relative;
  }

  .pane-text {
    padding: 3rem;
  }
}


// COLUMNS
.row {
  margin-bottom: 2rem;
}

.columns {
  display: flex;
  flex-direction: row;
  margin: 0 -1rem;

  @media (max-width: 640px) {
    margin: 0;
    flex-direction: column
  }

  .column {
    margin: 0 1rem;
    width: calc(50% - 2rem);

    @media (max-width: 640px) {
      margin: 0 0 2rem;
      width: 100%;
    }
  }
}

// BOXES
.boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: calc(100% - 1rem);
  margin: 0.5rem;
  padding: 1rem;
  background-color: #fff;

}

.tools .box {
  border-left: 3px solid $color-turquoise;


  @media (orientation: landscape) {
    border-left: none;
    border-top: 3px solid $color-turquoise;
    width: calc(50% - 1rem);
  }
}

.themes .box {
  border-left: 3px solid $color-turquoise;
}


a.box {
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.1);
  }
}

.box-title {
  font-size: 1.15em;
  text-transform: lowercase;
}

.box-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p:last-of-type{
    margin-bottom: 1rem;
  }
}