a {
  box-sizing: border-box;
  color: $color-text;
  transition: color 100ms ease;
  user-select: none;
  cursor: pointer;
}

.button,
button,
input[type=submit],
input[type=button] {
  position: relative;
  display: inline-block;
  line-height: 1.65em;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  padding: 0.15em 0.6em 0.125em;
  background: $color-turquoise;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: $font-family;
  font-size: 1rem;
  vertical-align: top;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 0.25rem 0 rgba(0,0,0,0.5);
  }
  &:after {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: darken($color-turquoise, 10%);
    border-radius: 0 0 2px 2px;
    transition: width 0ms ease;
  }
  &:hover:after,
  &:focus:after {
    width: 100%;
    transition: all 200ms ease;
  }
}

.button-small {
  position: relative;
  display: inline-block;
  line-height: 1.55em;
  padding: 0.15em 0.5em;
  background: $color-turquoise;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 0.8rem;
  vertical-align: top;
  font-weight: 400;
  user-select: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
  &:after {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: darken($color-turquoise, 10%);
    border-radius: 0 0 2px 2px;
    transition: width 0ms ease;
  }
  &:hover:after {
    width: 100%;
    transition: all 200ms ease;
  }
}

.button-link {
  position: relative;
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
  &:after {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: darken($color-turquoise, 10%);
    transition: width 0ms ease;
  }
  &:hover:after {
    width: 100%;
    transition: all 100ms ease;
  }
}

.button-inline {
  margin-right: -1em;
}

.button,
.button-link,
.button-small,
button,
input[type=submit],
input[type=button] {

  &:before {
    font-family: "FontAwesome";
    margin-right: 0.35rem;
    line-height: 1rem;
    vertical-align: middle;
    font-size: 0.75em;
  }

  &.button-false {
    background-color: $color-red !important;

    &:after {
      background-color: darken($color-red, 10%) !important;
    }
  }

  &.button-check:before    { content: ""; }
  &.button-reject:before   { content: ""; }
  &.button-add:before      { content: ""; }
  &.button-lock:before     { content: ""; }
  &.button-unlock:before   { content: ""; }
  &.button-done:before     { content: ""; }
  &.button-prev:before     { content: ""; }
  &.button-next:before     { content: ""; }
  &.button-save:before     { content: ""; }
  &.button-edit:before     { content: ""; }
  &.button-info:before     { content: ""; }
  &.button-export:before   { content: ""; }
  &.button-refresh:before  { content: ""; }
  &.button-calendar:before { content: ""; }
  &.button-delete:before { content: ""; }

  &.button-download:before { content: $fa-var-download; }
  &.button-clear:before    { content: $fa-var-times; }
  
}