.svg-map {
  position: absolute;
  background-color: #BBD5EA;
  user-select: none;
}
.svg-map-zoom-buttons {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 0.75rem;
    padding: 0;
    font-size: 1.25rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #444;
    background-color: white;
    border: none;
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.1);
    cursor: pointer;
    user-select: none;

    &:hover {
      color: #000;
    }
  }
}

// map elements
.station {
  fill: #FFF;
  stroke: #000;
  stroke-width: 3px;
}
.river {
  stroke: none;
  fill: #BBD5EA;
}
.area {
  fill: #F2F2F2;
  stroke: none;
}
.wide-area {
  fill: #E5E5E5;
  stroke: none;
}
.inner-area {
  fill: #DBDBDB;
  stroke: none;
}
.central-area {
  fill: #CCC;
  stroke: none;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 6px;
}
.main-line {
  stroke: #27BDBE;
}
.sub-line-e-0 {
  stroke: #FAA619;
}
.sub-line-e-1 {
  stroke: #522E90;
}
.sub-line-e-2 {
  stroke: #F00;
}
.sub-line-w-0 {
  stroke: #27BDBE;
}
.sub-line-w-1 {
  stroke: #FF1B22;
}
.sub-line-w-2 {
  stroke: #00F;
}
.map-text {
  font-size: 20px;
  font-weight: 500;
  user-select: none;
}



.zone {
  pointer-events: none;
}

.sub-zone {
  font-size: 12px;
}

.zone-title {
  font-size: 1.778em;
  line-height: 1.2em;
  text-transform: lowercase;
  margin-bottom: 0;
  white-space: nowrap;

}

.zone-title-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  pointer-events: auto;
  -webkit-user-drag: none;
  transition: all 75ms ease;

  &:hover {
    margin-top: 0.05rem;
    margin-bottom: -0.05rem;
    transition: all 0ms ease;
  }
}

.zone-tool {
  display: inline-block;
  margin: 0.5em 0.5em 0 0;
  text-transform: lowercase;
  background-color: $color-turquoise;
  color: #FFF;
  font-size: 0.8rem;
  line-height: 1.5em;
  border-radius: 0.75em;
  padding: 0 0.5em;
}



.themes {
  display: flex;
  flex-wrap: wrap;
}

.theme-label {
  @include label(#FFF, #000);

  font-size: 0.556em;
  margin-top: 0.3rem;
  margin-right: 0.25rem;
  -webkit-user-drag: none;

  &:hover {
    // margin-top: 0.35rem;
    // margin-bottom: -0.05rem;
    //background-color: $color-background;
    transition: all 0ms ease;
  }

  .theme-label-text {
    display: inline-block;
    margin-left: 0.5em;
    border-radius: 1em 0 0 1em;
    font-weight: 500;
  }
}