
.tool-metas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.tool-meta {
  margin-right: 1.5em;
  margin-bottom: 0.75em;

  &:before {
    font-family: "FontAwesome";
    margin-right: 0.25em;
    vertical-align: middle;
  }

  &.group_size:before                   { content: $fa-var-child; }
  &.duration:before                     { content: $fa-var-clock-o; }
  &.facilitator_participant:before      { content: $fa-var-users; }
  &.experience_level:before             { content: $fa-var-star; }
}

.tool-meta-name {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  text-transform: lowercase;
}

.tool-meta-value {
  @include label($color-turquoise, #FFF);
  font-size: 0.8em;

  .turquoise & { background: $color-turquoise; }
  .yellow & { background: $color-yellow; }
  .purple & { background: $color-purple; }
  .red & { background: $color-red; }
}

.short-tool-metas {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.short-tool-meta {
  margin-top: 0.5em;
  margin-right: 1.25em;

  &:before {
    font-family: "FontAwesome";
    margin-right: 0.25em;
    color: $color-turquoise;

    .turquoise & { color: $color-turquoise; }
    .yellow & { color: $color-yellow; }
    .purple & { color: $color-purple; }
    .red & { color: $color-red; }
  }

  &.group_size:before                   { content: $fa-var-child; }
  &.duration:before                     { content: $fa-var-clock-o; }
  &.facilitator_participant:before      { content: $fa-var-users; }
  &.experience_level:before             { content: $fa-var-star; }
}

.tool-images {
  margin: 0 -1rem;

  img {
    margin-bottom: 1.5rem;
  }
}
