.tool {
  .columns {
    flex-direction: row-reverse;
  }
}


.tool-metas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.tool-meta {
  margin-right: 1.5em;
  margin-bottom: 0.75em;

  &:before {
    font-family: "FontAwesome";
    margin-right: 0.25em;
    vertical-align: middle;
  }

  &.group_size:before                   { content: $fa-var-child; }
  &.duration:before                     { content: $fa-var-clock-o; }
  &.facilitator_participant:before      { content: $fa-var-users; }
  &.experience_level:before { content: $fa-var-star; }
}

.tool-meta-name {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  text-transform: lowercase;
}

.tool-meta-value {
  @include label($color-turquoise, #FFF);
  font-size: 0.8em;
}



.short-tool-metas {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.short-tool-meta {
  margin-top: 0.5em;
  margin-right: 1.25em;

  &:before {
    font-family: "FontAwesome";
    margin-right: 0.25em;
    color: $color-turquoise;
  }

  &.group_size:before                   { content: $fa-var-child; }
  &.duration:before                     { content: $fa-var-clock-o; }
  &.facilitator_participant:before      { content: $fa-var-users; }
  &.experience_level:before             { content: $fa-var-star; }
}
