.tool-filters {
  h3 {
    margin-bottom: 0.5em;
  }
}

.tool-filter {
  margin-top: 1rem;
  margin-bottom: 1rem;

  h4 {
    text-transform: lowercase;
    font-size: 0.85em;

    &:before {
      font-family: "FontAwesome";
      margin-right: 0.5em;
      vertical-align: middle;
    }
  }

  &.group_size              h4:before { content: $fa-var-child; }
  &.duration                h4:before { content: $fa-var-clock-o; }
  &.facilitator_participant h4:before { content: $fa-var-users; }
  &.experience_level        h4:before { content: $fa-var-star; }
}

.tool-filter-options {
  li {
    @include label($color-background, $color-text);
    display: inline-block;
    margin: 0.2em 0.4em 0.2em 0;
    cursor: pointer;

    &:hover {
      background-color: #000;
      color: #FFF;
    }
    &.selected {
      background-color: $color-turquoise;
      color: #FFF;
    }
  }
}