
body {
  margin: 0;
  background-color: $color-background;
  font-family: $font-family;
  font-size: 16px;

  @media (min-width: 600px) {
    font-size: 18px;
  }
}
em {
  font-style: italic;
}
strong, th {
  font-weight: 500;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;

  .icon {
    font-family: "FontAwesome";
    margin-right: 0.5em;
    vertical-align: middle;
  }

  &.subtitle {
    font-weight: 400;
  }
}
h1 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: 1em;
  text-transform: lowercase;
}
h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
  line-height: 1.25em;
}
h3, h4, h5 {
  font-size: 1em;
  line-height: 1.5em
}

p {
  margin: 0 0 1.5em;
  line-height: 1.5em;

  :last-child  {
    margin-bottom: 0;
  }
}

small {
  font-size: 0.8em;
  line-height: 1.35em;
}


.nowrap {
  white-space: nowrap;
}

:focus {
  outline: 0;
}
::selection {
  background: #000;
  color: #FFF;
}