// TOGGLE
.toggle {

  .toggle-button {
    position: relative;
    padding-right: 1.25em;
    cursor: pointer;
    user-select: none;

    &:after {
      content: $fa-var-angle-up;
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      transition: transform 0ms ease;
    }

    &:hover:after {
      transform: translateY(-1px);
      transition-duration: 75ms;
    }
  }
  &.toggled .toggle-button {
    &:after {
      content: $fa-var-angle-down;
    }
    &:hover:after {
      transform: translateY(1px);
    }
  }




  .toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: all 100ms ease;
  }

  &.toggled .toggle-content {
    max-height: 600px;
    transition: all 200ms ease;
  }
}

// ui buttons
.button-back {
  position: absolute;
  text-align: center;
  color: #000;
  font-size: 1rem;
  line-height: 1.15rem;
  user-select: none;
  cursor: pointer;
  transition: all 100ms ease;

  &:hover .fa-icon {
    transform: translateX(-1px);
  }
}
