@charset "UTF-8";
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  text-size-adjust: none; }

iframe {
  max-width: 100%;
  border: none; }

figure {
  margin: 0;
  max-width: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  outline: none;
  border: none; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

table {
  border-collapse: collapse; }

* {
  box-sizing: border-box; }

.no-select {
  user-select: none; }

:focus {
  outline: 0; }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/fa/fontawesome-webfont.eot?v=4.6.3");
  src: url("/fonts/fa/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("/fonts/fa/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("/fonts/fa/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("/fonts/fa/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("/fonts/fa/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

@font-face {
  font-family: "Maax";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/maax/maax-400.eot);
  src: url(/fonts/maax/maax-400.eot#iefix) format("embedded-opentype"), url(/fonts/maax/maax-400.otf) format("opentype"), url(/fonts/maax/maax-400.woff) format("woff"); }

@font-face {
  font-family: "Maax";
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/maax/maax-400-italic.eot);
  src: url(/fonts/maax/maax-400-italic.eot#iefix) format("embedded-opentype"), url(/fonts/maax/maax-400-italic.otf) format("opentype"), url(/fonts/maax/maax-400-italic.woff) format("woff"); }

@font-face {
  font-family: "Maax";
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/maax/maax-500.eot);
  src: url(/fonts/maax/maax-500.eot#iefix) format("embedded-opentype"), url(/fonts/maax/maax-500.otf) format("opentype"), url(/fonts/maax/maax-500.woff) format("woff"); }

body {
  margin: 0;
  background-color: #F2F2F2;
  font-family: "Maax", sans-serif;
  font-size: 16px; }
  @media (min-width: 600px) {
    body {
      font-size: 18px; } }

em {
  font-style: italic; }

strong, th {
  font-weight: 500; }

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0; }
  h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon {
    font-family: "FontAwesome";
    margin-right: 0.5em;
    vertical-align: middle; }
  h1 .subtitle, h2 .subtitle, h3 .subtitle, h4 .subtitle, h5 .subtitle {
    font-weight: 400; }

h1 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: 2rem;
  text-transform: lowercase; }

h2 {
  font-size: 1.25em;
  line-height: 1.25em; }

h3, h4, h5 {
  font-size: 1em;
  line-height: 1.5em; }

p {
  margin: 0 0 1.5em;
  line-height: 1.5em; }
  p :last-child {
    margin-bottom: 0; }

small {
  font-size: 0.8em;
  line-height: 1.35em; }

.nowrap {
  white-space: nowrap; }

:focus {
  outline: 0; }

::selection {
  background: #000;
  color: #FFF; }

a {
  box-sizing: border-box;
  color: #000;
  transition: color 100ms ease;
  user-select: none;
  cursor: pointer; }

.button,
button,
input[type=submit],
input[type=button] {
  position: relative;
  display: inline-block;
  line-height: 1.65em;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  padding: 0.15em 0.6em 0.125em;
  background: #2FB6BC;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: "Maax", sans-serif;
  font-size: 1rem;
  vertical-align: top;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  text-decoration: none; }
  .button:hover,
  button:hover,
  input[type=submit]:hover,
  input[type=button]:hover {
    text-decoration: none; }
  .button:focus,
  button:focus,
  input[type=submit]:focus,
  input[type=button]:focus {
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.5); }
  .button:after,
  button:after,
  input[type=submit]:after,
  input[type=button]:after {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #258f93;
    border-radius: 0 0 2px 2px;
    transition: width 0ms ease; }
  .button:hover:after, .button:focus:after,
  button:hover:after,
  button:focus:after,
  input[type=submit]:hover:after,
  input[type=submit]:focus:after,
  input[type=button]:hover:after,
  input[type=button]:focus:after {
    width: 100%;
    transition: all 200ms ease; }

.button-small {
  position: relative;
  display: inline-block;
  line-height: 1.55em;
  padding: 0.15em 0.5em;
  background: #2FB6BC;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 0.8rem;
  vertical-align: top;
  font-weight: 400;
  user-select: none;
  cursor: pointer; }
  .button-small:hover {
    text-decoration: none; }
  .button-small:after {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #258f93;
    border-radius: 0 0 2px 2px;
    transition: width 0ms ease; }
  .button-small:hover:after {
    width: 100%;
    transition: all 200ms ease; }

.button-link {
  position: relative;
  display: inline-block;
  text-decoration: none; }
  .button-link:hover {
    text-decoration: none; }
  .button-link:after {
    content: " ";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #258f93;
    transition: width 0ms ease; }
  .button-link:hover:after {
    width: 100%;
    transition: all 100ms ease; }

.button-inline {
  margin-right: -1em; }

.button:before,
.button-link:before,
.button-small:before,
button:before,
input[type=submit]:before,
input[type=button]:before {
  font-family: "FontAwesome";
  margin-right: 0.35rem;
  line-height: 1rem;
  vertical-align: middle;
  font-size: 0.75em; }

.button.button-false,
.button-link.button-false,
.button-small.button-false,
button.button-false,
input[type=submit].button-false,
input[type=button].button-false {
  background-color: #DA0812 !important; }
  .button.button-false:after,
  .button-link.button-false:after,
  .button-small.button-false:after,
  button.button-false:after,
  input[type=submit].button-false:after,
  input[type=button].button-false:after {
    background-color: #a9060e !important; }

.button.button-check:before,
.button-link.button-check:before,
.button-small.button-check:before,
button.button-check:before,
input[type=submit].button-check:before,
input[type=button].button-check:before {
  content: ""; }

.button.button-reject:before,
.button-link.button-reject:before,
.button-small.button-reject:before,
button.button-reject:before,
input[type=submit].button-reject:before,
input[type=button].button-reject:before {
  content: ""; }

.button.button-add:before,
.button-link.button-add:before,
.button-small.button-add:before,
button.button-add:before,
input[type=submit].button-add:before,
input[type=button].button-add:before {
  content: ""; }

.button.button-lock:before,
.button-link.button-lock:before,
.button-small.button-lock:before,
button.button-lock:before,
input[type=submit].button-lock:before,
input[type=button].button-lock:before {
  content: ""; }

.button.button-unlock:before,
.button-link.button-unlock:before,
.button-small.button-unlock:before,
button.button-unlock:before,
input[type=submit].button-unlock:before,
input[type=button].button-unlock:before {
  content: ""; }

.button.button-done:before,
.button-link.button-done:before,
.button-small.button-done:before,
button.button-done:before,
input[type=submit].button-done:before,
input[type=button].button-done:before {
  content: ""; }

.button.button-prev:before,
.button-link.button-prev:before,
.button-small.button-prev:before,
button.button-prev:before,
input[type=submit].button-prev:before,
input[type=button].button-prev:before {
  content: ""; }

.button.button-next:before,
.button-link.button-next:before,
.button-small.button-next:before,
button.button-next:before,
input[type=submit].button-next:before,
input[type=button].button-next:before {
  content: ""; }

.button.button-save:before,
.button-link.button-save:before,
.button-small.button-save:before,
button.button-save:before,
input[type=submit].button-save:before,
input[type=button].button-save:before {
  content: ""; }

.button.button-edit:before,
.button-link.button-edit:before,
.button-small.button-edit:before,
button.button-edit:before,
input[type=submit].button-edit:before,
input[type=button].button-edit:before {
  content: ""; }

.button.button-info:before,
.button-link.button-info:before,
.button-small.button-info:before,
button.button-info:before,
input[type=submit].button-info:before,
input[type=button].button-info:before {
  content: ""; }

.button.button-export:before,
.button-link.button-export:before,
.button-small.button-export:before,
button.button-export:before,
input[type=submit].button-export:before,
input[type=button].button-export:before {
  content: ""; }

.button.button-refresh:before,
.button-link.button-refresh:before,
.button-small.button-refresh:before,
button.button-refresh:before,
input[type=submit].button-refresh:before,
input[type=button].button-refresh:before {
  content: ""; }

.button.button-calendar:before,
.button-link.button-calendar:before,
.button-small.button-calendar:before,
button.button-calendar:before,
input[type=submit].button-calendar:before,
input[type=button].button-calendar:before {
  content: ""; }

.button.button-delete:before,
.button-link.button-delete:before,
.button-small.button-delete:before,
button.button-delete:before,
input[type=submit].button-delete:before,
input[type=button].button-delete:before {
  content: ""; }

.button.button-download:before,
.button-link.button-download:before,
.button-small.button-download:before,
button.button-download:before,
input[type=submit].button-download:before,
input[type=button].button-download:before {
  content: ""; }

.button.button-clear:before,
.button-link.button-clear:before,
.button-small.button-clear:before,
button.button-clear:before,
input[type=submit].button-clear:before,
input[type=button].button-clear:before {
  content: ""; }

input {
  font-family: "Maax", sans-serif;
  background-color: #F2F2F2;
  border: none;
  border-bottom: 2px solid #F2F2F2;
  margin-bottom: 0.5rem;
  padding: 0.8em 0.8em 0.6em;
  transition: all 200ms ease; }
  input :focus {
    border-bottom-color: #F2F2F2; }

button {
  background-color: #2FB6BC;
  color: #FFF;
  padding: 0.8em 0.8em 0.6em;
  border: none;
  text-transform: uppercase; }

.form-login {
  display: flex;
  flex-direction: column;
  max-width: 14rem;
  margin-top: 2rem; }

.modal-loading {
  color: #FFF;
  text-align: center; }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
  text-align: center;
  z-index: 200; }
  .modal-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  @media (orientation: landscape) {
    .modal-overlay {
      left: 15rem; } }

.modal-content {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 55rem;
  max-width: 100%;
  padding: 1em;
  text-align: left; }

.modal-header {
  position: relative;
  background: #FFF;
  padding: 1.25rem;
  border-top: 2rem solid #2FB6BC; }
  @media (orientation: landscape) {
    .modal-header {
      padding: 2rem; } }
  .modal-header .button-close {
    position: absolute;
    right: 0.5rem;
    top: -1.5rem;
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
    line-height: 1.25rem;
    user-select: none;
    transition: all 100ms ease; }
    .modal-header .button-close:hover {
      transform: scale(1.25); }
  .modal-header .modal-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1rem; }
    @media (max-width: 600px) {
      .modal-header .modal-title {
        flexDirection: column; } }
    .modal-header .modal-title .labels {
      margin-right: 0.75rem; }
    .modal-header .modal-title .label {
      margin: 0 0.5rem 3px 0;
      padding: 3px 10px 0;
      border-radius: 10px;
      font-size: 13px;
      line-height: 17px; }
      .modal-header .modal-title .label:last-child {
        margin-right: 0; }

.modal-body {
  background: #F2F2F2;
  min-height: 20rem;
  padding: 1.25rem; }
  @media (orientation: landscape) {
    .modal-body {
      padding: 2rem; } }

.description {
  margin-bottom: 3em; }

.label {
  display: inline-block;
  margin: 0.25em 0;
  background-color: black;
  border-radius: 0.75em;
  color: white;
  font-size: 0.35em;
  height: 1.5em;
  line-height: 1.75em;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
  box-sizing: border-box;
  vertical-align: middle; }
  .label:first-child {
    margin-right: 0.5em; }
  .label:last-child {
    margin-left: 0.5em; }
  .label:first-child:last-child {
    margin-left: 0em;
    margin-right: 0em; }

.label-circle {
  width: 1.5em;
  text-align: center; }

.label-bar {
  padding: 0 0.65em; }

.toggle .toggle-button {
  position: relative;
  padding-right: 1.25em;
  cursor: pointer;
  user-select: none; }
  .toggle .toggle-button:after {
    content: "";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }

.toggle.toggled .toggle-button:after {
  content: ""; }

.toggle .toggle-content {
  max-height: 0;
  overflow: hidden;
  transition: all 100ms ease; }

.toggle.toggled .toggle-content {
  max-height: 600px;
  transition: all 200ms ease; }

.button-back {
  font-family: "FontAwesome";
  position: absolute;
  left: 0rem;
  top: -1.5rem;
  width: 1.5em;
  text-align: center;
  color: #FFF;
  font-size: 1.15rem;
  line-height: 1.15rem;
  user-select: none;
  cursor: pointer;
  transition: all 100ms ease; }
  .button-back:hover {
    transform: translateX(-2px); }

#container-app {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  @media (orientation: portrait) {
    #container-app {
      flex-direction: column; } }

#container-map {
  flex-grow: 1;
  overflow: hidden;
  touch-action: none; }

#container-page {
  width: 100%;
  height: 100%;
  overflow-y: scroll; }

.panel {
  position: relative;
  z-index: 100;
  flex-grow: 0;
  background-color: white;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.1); }

#panel-header {
  padding: 0.75rem 1rem;
  flex-shrink: 0; }

#panel-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between; }

.wrapper {
  max-width: 960px;
  padding: 2rem; }

.pane {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.1); }

.row {
  margin-bottom: 2rem; }

.columns {
  display: flex;
  flex-direction: row;
  margin: 0 -1rem; }
  @media (max-width: 640px) {
    .columns {
      margin: 0;
      flex-direction: column; } }
  .columns .column {
    margin: 0 1rem;
    width: calc(50% - 2rem); }
    @media (max-width: 640px) {
      .columns .column {
        margin: 0 0 2rem;
        width: 100%; } }

.boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem; }

.box {
  display: flex;
  flex-direction: column;
  width: calc(100% - 1rem);
  margin: 0.5rem;
  padding: 1rem;
  background-color: #fff; }
  @media (orientation: landscape) {
    .box {
      width: calc(50% - 1rem); } }

a.box {
  text-decoration: none; }
  a.box:hover {
    box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.1); }

.box-title {
  font-size: 1.15em;
  text-transform: lowercase; }

.box-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .box-body p:last-of-type {
    margin-bottom: 1rem; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; }
  @media (orientation: landscape) {
    .header-container {
      flex-direction: column; } }
  @media (orientation: portrait) {
    .header-container {
      flex-direction: row; } }

#site-title {
  font-size: 1.5em; }
  @media (orientation: landscape) {
    #site-title {
      font-size: 1.4em;
      margin-bottom: 0.5em; } }

#site-subtitle {
  font-size: 0.9em;
  line-height: 1.35em;
  font-weight: 300; }

#site-navigation {
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #CCC; }
  #site-navigation li {
    margin-top: 1rem; }
    #site-navigation li a {
      position: relative;
      display: block;
      text-decoration: none; }
    #site-navigation li:hover a,
    #site-navigation li.current a {
      color: #2FB6BC; }
    #site-navigation li.current a:after {
      content: "";
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      right: 0; }

.content ul {
  margin: 1.5em 0;
  padding-left: 1em; }

.content ul li {
  line-height: 1.5em;
  list-style-type: square; }

.content ol li {
  line-height: 1.5em; }

.svg-map {
  position: absolute;
  background-color: #BBD5EA;
  user-select: none; }

.svg-map-zoom-buttons {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  display: flex;
  flex-direction: column; }
  .svg-map-zoom-buttons button {
    margin-bottom: 0.75rem;
    padding: 0;
    font-size: 1.25rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #444;
    background-color: white;
    border: none;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1); }
    .svg-map-zoom-buttons button:hover {
      color: #000; }

.station {
  fill: #FFF;
  stroke: #000;
  stroke-width: 3px; }

.river {
  stroke: none;
  fill: #BBD5EA; }

.area {
  fill: #F2F2F2;
  stroke: none; }

.wide-area {
  fill: #E5E5E5;
  stroke: none; }

.inner-area {
  fill: #DBDBDB;
  stroke: none; }

.central-area {
  fill: #CCC;
  stroke: none; }

.line {
  fill: none;
  stroke: #000;
  stroke-width: 6px; }

.main-line {
  stroke: #27BDBE; }

.sub-line-e-0 {
  stroke: #FAA619; }

.sub-line-e-1 {
  stroke: #522E90; }

.sub-line-e-2 {
  stroke: #F00; }

.sub-line-w-0 {
  stroke: #27BDBE; }

.sub-line-w-1 {
  stroke: #FF1B22; }

.sub-line-w-2 {
  stroke: #00F; }

.map-text {
  font-size: 20px;
  font-weight: 500;
  user-select: none; }

.zone {
  pointer-events: none; }

.sub-zone {
  font-size: 12px; }

.zone-title {
  font-size: 1.778em;
  line-height: 1.2em;
  text-transform: lowercase;
  margin-bottom: 0;
  white-space: nowrap; }

.zone-title-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  pointer-events: auto;
  -webkit-user-drag: none;
  transition: all 75ms ease; }
  .zone-title-link:hover {
    margin-top: 0.05rem;
    margin-bottom: -0.05rem;
    transition: all 0ms ease; }

.zone-tool {
  display: inline-block;
  margin: 0.5em 0.5em 0 0;
  text-transform: lowercase;
  background-color: #2FB6BC;
  color: #FFF;
  font-size: 0.8rem;
  line-height: 1.5em;
  border-radius: 0.75em;
  padding: 0 0.5em; }

.themes {
  display: flex;
  flex-wrap: wrap; }

.theme-label {
  background: #FFF;
  color: #000;
  padding: 0.25em 0.75em 0;
  border-radius: 1em;
  font-size: 0.65em;
  line-height: 1.8em;
  user-select: none;
  text-decoration: none;
  pointer-events: auto;
  white-space: nowrap;
  transition: all 75ms ease;
  font-size: 0.556em;
  margin-top: 0.3rem;
  margin-right: 0.25rem;
  -webkit-user-drag: none; }
  .theme-label:hover {
    transition: all 0ms ease; }
  .theme-label .theme-label-text {
    display: inline-block;
    margin-left: 0.5em;
    border-radius: 1em 0 0 1em;
    font-weight: 500; }

.tool .columns {
  flex-direction: row-reverse; }

.tool-metas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 0.9rem;
  flex-wrap: wrap; }

.tool-meta {
  margin-right: 1.5em;
  margin-bottom: 0.75em; }
  .tool-meta:before {
    font-family: "FontAwesome";
    margin-right: 0.25em;
    vertical-align: middle; }
  .tool-meta.field_group_size:before {
    content: ""; }
  .tool-meta.field_duration:before {
    content: ""; }
  .tool-meta.field_facilitator_participant:before {
    content: ""; }
  .tool-meta.field_experience_level:before {
    content: ""; }

.tool-meta-name {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.5em;
  margin-bottom: 0.25em; }

.tool-meta-value {
  background: #2FB6BC;
  color: #FFF;
  padding: 0.25em 0.75em 0;
  border-radius: 1em;
  font-size: 0.65em;
  line-height: 1.8em;
  user-select: none;
  text-decoration: none;
  pointer-events: auto;
  white-space: nowrap;
  transition: all 75ms ease;
  font-size: 0.8em; }

.short-tool-metas {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  flex-wrap: wrap; }

.short-tool-meta {
  margin-top: 0.5em;
  margin-right: 1.25em; }
  .short-tool-meta:before {
    font-family: "FontAwesome";
    margin-right: 0.25em;
    color: #2FB6BC; }
  .short-tool-meta.group_size:before {
    content: ""; }
  .short-tool-meta.duration:before {
    content: ""; }
  .short-tool-meta.facilitator_participant:before {
    content: ""; }
  .short-tool-meta.experience_level_facilitator:before {
    content: ""; }

.tool-filters h3 {
  margin-bottom: 0.5em; }

.tool-filter {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .tool-filter h4 {
    text-transform: lowercase;
    font-size: 0.85em; }
    .tool-filter h4:before {
      font-family: "FontAwesome";
      margin-right: 0.5em;
      vertical-align: middle; }
  .tool-filter.group_size h4:before {
    content: ""; }
  .tool-filter.duration h4:before {
    content: ""; }
  .tool-filter.facilitator_participant h4:before {
    content: ""; }
  .tool-filter.experience_level_facilitator h4:before {
    content: ""; }

.tool-filter-options li {
  background: #F2F2F2;
  color: #000;
  padding: 0.25em 0.75em 0;
  border-radius: 1em;
  font-size: 0.65em;
  line-height: 1.8em;
  user-select: none;
  text-decoration: none;
  pointer-events: auto;
  white-space: nowrap;
  transition: all 75ms ease;
  display: inline-block;
  margin: 0.2em 0.4em 0.2em 0;
  cursor: pointer; }
  .tool-filter-options li:hover {
    background-color: #000;
    color: #FFF; }
  .tool-filter-options li.selected {
    background-color: #2FB6BC;
    color: #FFF; }

html, body, #root {
  width: 100%;
  height: 100%;
  position: fixed; }

div {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

table {
  width: 100%; }

tr {
  display: flex;
  justify-content: space-around; }

td img {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 125px; }
